body,
html {
  height: 100%;
  width: 100%;
}
.full-height {
  height: 100%;

  @media only screen and (max-width : 1199px) {
    height: auto;
  }
}
#root {
  height: 100%;
}
body {
  background-color: $light_gray;
  font-family: 'Montserrat', sans-serif, '-apple-system', 'BlinkMacSystemFont';
}
h1,
h2,
h3,
h4 {
  font-family: 'Montserrat', sans-serif, '-apple-system', 'BlinkMacSystemFont';
}
.slide-share-wrap {
  padding-left: 0;
  padding-right: 0;
}
.slide-share-left {
  background-color: $white;
  max-width: 290px;
  padding: 40px 30px;
  overflow: hidden;

  @media only screen and (max-width : 1199px) {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 30px;

    .next-slide{
      display: none;
    }

    .slide-counts,
    .top-nav-bar-right {
      flex-basis: 20%;
      font-size: 18px;
    }

    .slide-counts {
      .slide-counts-text {
        display: none;
      }
      span {
        font-size: 20px;
      }
    }

    .site-logo {
      flex-basis: 60%;
    }
  }

  @media only screen and (max-width : 768px) {
    padding: 15px;
  }

  .thumbs-wrap {
    max-height: 700px;

    @media only screen and (max-width : 1199px) {
      height: 0;
      margin: 0;
      width: 1px;
      position: absolute;
    }
  }

  @media only screen and (min-width : 1200px) {
    .slide-counts,
    .top-nav-bar-right {
      display: none;
    }
  }
}
.site-logo{
  img {
    max-width: 170px;
    width: 100%;
    display: block;
    margin: 0 auto;

    @media only screen and (max-width : 600px) {
      max-width: 110px;
    }
  }
}
.thumbs-wrap {
  margin-top: 50px;
  overflow: hidden;

  .swiper-slide {
    img {
      max-width: 210px;
      width: 100%;
      margin-bottom: 20px;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  }

  .swiper-slide-active {
    img {
      opacity: 0.5;
    }
  }
}

.slide-share-middle {
  overflow: hidden;

  div {
    overflow: hidden;
    height: 100%;
  }

  img {
    height: 100%;
    display: block;
    margin: 0 auto;

    @media only screen and (max-width : 1199px) {
      height: auto;
      width: 100%;
      max-width: 100%;
    }
  }
}

.next-slide {
  button {
    width: 30px;
    height: 30px;
    margin: 20px auto 0;
    display: block;
    color: $black;
    border: 1px solid $black;
    border-radius: 50%;
    text-align: center;
    background: transparent;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    i {
      -webkit-text-stroke: 2px $white;
    }
  }
}

.slide-share-right {
  padding: 20px 30px;
  position: relative;

  @media only screen and (max-width : 1199px) {
    padding: 15px;
  }

}

.top-nav-bar {
  display: inline-block;
  width: 100%;

  @media only screen and (max-width : 1199px) {
    display: none;
  }

  .top-nav-bar-left {
    float: left;
    span {
      font-size: 20px;
      line-height: 20px;
      display: inline-block;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .top-nav-bar-right {
    float: right;
  }
}

.slides-info {
  display: inline-block;
  width: 100%;
  padding-top: 50px;
  text-transform: uppercase;

  @media only screen and (max-width : 1199px) {
    padding-top: 0;
  }

  .slide-counts {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    border-top: 1px solid $black;
    border-bottom: 1px solid $black;
    padding-top: 15px;
    padding-bottom: 15px;



    span {
      font-size: 20px;
    }
  }

  h1 {
    font-size: 30px;
    font-weight: 700;
  }
}

.slides-bottom-ctrl {
  position: absolute;
  bottom: 40px;
  width: 100%;
  left: 0;
  text-align: center;
  text-transform: uppercase;

  @media only screen and (max-width : 1199px) {
    display: none;
  }

  .bottom-ctrl-btns {
    margin-bottom: 10px;
  }

  .next-slide {
    width: 50px;
    display: inline-block;

    button {
      i {
        -webkit-text-stroke: 2px $light_gray;
      }
    }
  }
}
